/*
* shadcn-ui.css
*
* Update the below to customize your Shadcn UI CSS Colors.
* Refer to https://ui.shadcn.com/themes for applying new colors.
* NB: apply the hsl function to the colors copied from the theme.
 */

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(224 71.4% 4.1%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(224 71.4% 4.1%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(224 71.4% 4.1%);
    --primary: hsl(262.1 83.3% 57.8%);
    --primary-foreground: hsl(210 20% 98%);
    --secondary: hsl(220 14.3% 95.9%);
    --secondary-foreground: hsl(220.9 39.3% 11%);
    --muted: hsl(220 14.3% 95.9%);
    --muted-foreground: hsl(215, 16%, 47%);
    --accent: hsl(220 14.3% 95.9%);
    --accent-foreground: hsl(220.9 39.3% 11%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 20% 98%);
    --border: hsl(220 13% 91%);
    --input: hsl(220 13% 91%);
    --ring: hsl(262.1 83.3% 57.8%);
    --radius: 0.75rem;

    --chart-1: var(--color-brand-600);
    --chart-2: var(--color-brand-800);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);

    --sidebar-background: hsl(0 0% 98%);
    --sidebar-foreground: #1d283a;
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(245, 100%, 98%);
    --sidebar-accent-foreground: #18181b;
    --sidebar-border: hsl(220 13% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }

  .dark {
    /* Brand colors */
    --brand-50: #f4f3ff;
    --brand-100: #ebeafd;
    --brand-200: #dad7fd;
    --brand-300: #beb7fb;
    --brand-400: #9e8ef7;
    --brand-500: #7d61f1;
    --brand-600: #6b3fe8;
    --brand-700: #5c2dd4;
    --brand-800: #4a24ab;
    --brand-900: #412191;
    --brand-950: #261362;

    /* Blue colors */
    --brand-blue-50: #effaff;
    --brand-blue-100: #daf2ff;
    --brand-blue-200: #beafff;
    --brand-blue-300: #91deff;
    --brand-blue-400: #5dc9fd;
    --brand-blue-500: #37adfa;
    --brand-blue-600: #2c96f0;
    --brand-blue-700: #1978dc;
    --brand-blue-800: #1b60b2;
    --brand-blue-900: #1c538c;
    --brand-blue-950: #163255;

    /* Slate colors */
    --brand-slate-50: #f8fafc;
    --brand-slate-100: #f1f5f9;
    --brand-slate-200: #e2e8f0;
    --brand-slate-300: #cbd5e1;
    --brand-slate-400: #94a3b8;
    --brand-slate-500: #64748b;
    --brand-slate-600: #475569;
    --brand-slate-700: #334155;
    --brand-slate-800: #1e293b;
    --brand-slate-900: #0f172a;

    --background: hsl(224 71% 4%);
    --foreground: hsl(213 31% 91%);
    --muted: hsl(223 47% 11%);
    --muted-foreground: hsl(215.4 16.3% 56.9%);
    --accent: hsl(216 34% 10%);
    --accent-foreground: hsl(210 40% 98%);
    --popover: hsl(224 71% 4%);
    --popover-foreground: hsl(215 20.2% 65.1%);
    --border: hsl(216 34% 17%);
    --input: hsl(216 34% 17%);
    --card: hsl(224 71% 4%);
    --card-foreground: hsl(213 31% 91%);
    --secondary: hsl(216 34% 10%);
    --secondary-foreground: hsl(210 40% 98%);
    --destructive: hsl(0 63% 31%);
    --destructive-foreground: hsl(210 40% 98%);
    --ring: hsl(216 34% 17%);

    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(340 75% 55%);

    --sidebar-background: hsl(224 71.4% 4.1%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(215 27.9% 13%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }
}
